.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  flex: 0 0 auto;
  max-width: 1170px;
  width: 100%;
  margin: auto;
}

.header_first {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;

  &-leftside {
    display: flex;
    gap: 20px;
  }
  &-rightside {
    display: flex;
    gap: 15px;

    &:hover {
      cursor: pointer;
    }
  }
  &-logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */

    text-transform: uppercase;

    /* NEW */

    background: linear-gradient(132.75deg, #f65130 1.86%, #e9941a 95.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.header_second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  &-menu {
    display: flex;
    height: inherit;
    gap: 30px;
    &-item {
      display: flex;
      align-items: center;
      height: inherit;
      color: #fff;

      border-bottom: 2px solid #181818;

      &:hover {
        border-bottom: 2px solid #f65130;
      }
    }
  }
  &-rightside {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }
  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 41px;
    width: 41px;
    border-radius: 50%;
    border: 0px;
    background: #131313;
    cursor: pointer;
  }
  &-basket-value {
    width: 70px;
  }
}
