{
   "singleQuote": true,
   "importOrder": [
      "<THIRD_PARTY-MODULES>",
      "^pages/api/(.*)$",
      "^assets/(.*)$",
      "^components/(.*)$",
      "^/config/(.*)$",
      "^hooks/(.*)$",
      "^layouts/(.*)$",
      "^pages/(.*)$",
      "^state/(.*)$",
      "^style/(.*)$",
      "^utils/(.*)$",
      "^../(.*)",
      "^./(.*)",
      "(.scss)$"
   ],
   "importOrderSeparation": true,
   "importOrderSortSpecifiers": true,
   "printWidth": 80,
   "editor.formatOnSave": true,
   "proseWrap": "always",
   "tabWidth": 2,
   "requireConfig": false,
   "useTabs": false,
   "trailingComma": "none",
   "bracketSpacing": true,
   "jsxBracketSameLine": false,
   "semi": true
}
