* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat Flex, sans-serif;
}

html {
  height: 100%;
}
body {
  background-color: #1a1a1a;
  color: #fff;
  height: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}
#__next {
  height: inherit;
}

button {
  border-width: 0px;
  cursor: pointer;
}

input {
  border-width: 0px;
}
